body {

}

.header {
  height: 150px;
  border: 1px red solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__h1 {
  font-size: 5em;
}

.board-wrapper {
  border: 1px red solid;
  display: flex;
  justify-content: center;
}

.board {
  height: 100%;
  width: 65%;
  border: 1px blue solid;
}

.board__row, .solution-row {
  height: 75px;
  border: 1px red solid;
  display: flex;
  justify-content: center;
}

.winner {
  background-color: greenyellow;
}

.loser {
  background-color: red;
}

.solution-spot {
  height: 100%;
  width: 75px;
  border: 1px blue solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row__spot {
  height: 100%;
  width: 75px;
  border: 1px purple solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row__results {
  height: 100%;
  width: 75px;
  display: flex;
  border: 1px red solid;
  flex-wrap: wrap;
  justify-content: space-around;
}

.row__results__hint {
  height: 25px;
  width: 25px;
  border: 1px red solid;
  border-radius: 50%;
}

.player-wrapper {
  height: 200px;
  border: 1px red solid;
  display: flex;
  justify-content: center;
}

.player {
  height: 100%;
  width: 55%;
  border: 1px blue solid;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.player__piece {
  height: 100px;
  width: 100px;
  border: 1px orange solid;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.white-peg {
  background-color: floralwhite;
}

.red-peg {
  background-color: crimson;
}